
.snapPageContainer {
  font-family: "Tilt Neon", sans-serif;
  background-image: url(./background.jpg);
  background-repeat: repeat-y;
  
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
.instructions {
  background-color: hsla(0, 0%, 100%, 0.411);  
  border-radius: 8px;  
  padding: 16px; 
  margin-bottom: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  /* display: flex;  */
  /* align-items: center;  */
}

.instructions h2 {
  margin: 0; 
  font-size: 1.2rem; 
  font-weight: bold; 
  flex: 1;
}

.instructions ul {
  margin: 0;
  padding-left: 20px; 
  list-style-type: none; 
}

.instructions ul li {
  margin-bottom: 5px; 
  font-size: 1.3rem; 
  line-height: 1.5; 
}



.snapPageVideo {
  /* Your video styles */
}

.snapPageCanvas {
  /* Your canvas styles */
}

.snapPageButton {
  font-family: "Tilt Neon", sans-serif;
  margin: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.snapPageButton:hover {
  background-color: #45a049;
}

.snapPageImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.snapPageButton {
  margin-top: 10px; 
}

.snapPageImage {
  margin-bottom: 10px;
}
